# Ignore object files
*.o
*.a

# compiled python files
*.pyc

# Ignore the executables
mcpar-gauss
mcpar-dgauss
mcpar-dgauss-mpi
*.exe
mcpar-rfunc

# Ignore emacs backup files
*~

# Ignore make dependences
*.d


